{% extends 'base.html' %}

{% block customcss %}
<style>
  body {
    padding-top: 2.5rem;
  }
</style>
{% endblock customcss %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
           <h1 class="mb-0 lh-100" style="color:gray;">問い合わせ</h1><p></p>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <form class="needs-validation" method="POST" novalidate>{% csrf_token %}
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustom01">名前</label>
                  <input type="text" class="form-control" name="contacter_name" id="validationCustom01" placeholder="あなたの名前を入力してください" required>
                    <div class="invalid-feedback">
                        名前は必須です。
                    </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">メールアドレス</label>
                  <input type="text" class="form-control" name="contacter_address" id="validationCustom02" placeholder="あなたのメールアドレスを入力してください" required>
                    <div class="invalid-feedback">
                        メールアドレスは必須です。
                    </div>
                </div>
              </div>
              <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="inputState">問い合わせ種別</label>
                    <select id="inputState" class="custom-select" name="contacter_need" required>
                        <option value="">問い合わせ種別を選択してください</option>
                        <option value="投稿削除">投稿削除</option>
                        <option value="掲示板の削除">掲示板の削除</option>
                        <option value="その他">その他</option>
                    </select>
                      <div class="invalid-feedback">
                          問い合わせ種別は必須です
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">問い合わせ内容</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="contacter_content" placeholder="問い合わせ内容を記入してください"required></textarea>
                  <div class="invalid-feedback">
                        問い合わせ内容はを必須です。
                  </div>
              </div>
              <button class="btn btn-primary" type="submit">送信</button>
            </form>
        </div>
    </div>
</div>

{% endblock content%}

{% block js_area %}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock js_area %}